include LICENSE
include libutils.py
include MANIFEST.in
include GPLv3.txt

include lincutter 
include src/lincutter.desktop 
include src/lincutter.png 
include src/lincutter.xpm

recursive-include src/lincutter/share *.*
recursive-include src/lincutter/share/cursors *.*
recursive-include src/lincutter/share/icons *.*
recursive-include src/lincutter/share/icons/tools *.*