Package: python-lincutter
Version: <VERSION>
Architecture: <PLATFORM>
Maintainer: Igor Novikov <igor.e.novikov@gmail.com>
Installed-Size: 558
Depends: python (>=2.6), python (<<3.0), python-uniconvertor (>=2.0)
Section: graphics
Priority: extra
Description: Vector graphics editor for cutting plotters
 .
 LinCutter is an open source vector graphics editor for cutting plotters similar 
 to Roland CutStudio, Artcut, or PostCut. The software is designed for HPGL 
 compatible cutting plotters.
 sK1 Project (http://sk1project.org), copyright (C) 2011-2012 by Igor E. Novikov.
 .

