[Desktop Entry]
Version=1.0
Name=LinCutter vector graphics editor
Name[ru]=Редактор векторной графики LinCutter
Name[uk]=Редактор векторної графіки LinCutter
Name[en_GB]=LinCutter vector graphics editor
Name[en_US@piglatin]=LinCutter vector graphics editor
Name[pt_BR]=Aplicativo de desenho LinCutter
GenericName=Vector Graphics Editor
GenericName[ru]=Редактор векторной графики
GenericName[uk]=Редактор векторної графіки
GenericName[en_GB]=Vector Graphics Editor
GenericName[en_US@piglatin]=Vector Graphics Editor
GenericName[pt_BR]=Editor de gráficos vetoriais
X-GNOME-FullName=LinCutter vector graphics editor
X-GNOME-FullName[ru]=Редактор векторной графики LinCutter
X-GNOME-FullName[uk]=Редактор векторної графіки LinCutter
X-GNOME-FullName[en_GB]=LinCutter vector graphics editor
X-GNOME-FullName[en_US@piglatin]=LinCutter vector graphics editor
X-GNOME-FullName[pt_BR]=Aplicativo de desenho LinCutter
Comment=Create and edit vector graphics for cutting plotters
Comment[ru]=Редактор векторной графики для режущих плоттеров
Comment[uk]=Редактор векторної графіки для підготовки до друку
Comment[en_GB]=Create and edit vector graphics for cutting plotters
Comment[en_US@piglatin]=Create and edit vector graphics for cutting plotters
Type=Application
Categories=Graphics
MimeType=application/vnd.sk1project.pdxf-graphics;application/illustrator;image/x-xfig;image/x-wmf;image/x-skencil;image/x-eps;image/vnd.dxf;image/svg+xml;image/cgm;audio/x-riff;application/x-wine-extension-CMX;application/x-wine-extension-CDT;application/vnd.hp-hpgl;application/vnd.corel-draw;application/postscript;
Exec=lincutter %f
TryExec=lincutter
Terminal=false
StartupNotify=true
Icon=lincutter
